.services
	background: #EEEEF3
	&__title
		text-align: center
		font-weight: 700
		font-size: 24px
		padding: 68px 0px 48px 0px
	&__blocks
		display: flex
		justify-content: space-between
		flex-wrap: wrap
	&__block
		&_bg-window
			background: url(../img/services/1bg.jpg) top no-repeat
		&_bg-balcony
			background: url(../img/services/2bg.jpg) top no-repeat
		&_bg-house
			background: url(../img/services/3bg.jpg) top no-repeat
		&_bg-obj
			background: url(../img/services/4bg.jpg) top no-repeat
.block-services
	width: 595px
	min-height: 268px
	margin: 0px 0px 10px 0px
	padding: 55px 0px 0px 50px
	border-radius: 3px
	&:hover
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25)
	&__img
		vertical-align: middle
		margin: 0px 20px 0px 0px
	&__title
		display: inline-block
		width: 300px
		font-weight: 700
		font-size: 24px
		vertical-align: middle
	&__desc
		margin: 30px 20px 0px 0px
		width: 340px